*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../img/dogs.jpeg");
}

.login_form{
    background-color: #766749;
    margin: auto;
    margin-top: 200px;
    padding: 25px;
    height: 250px;
    width: 500px;
    border: #313131 2px solid;
    border-radius: 5%;
    box-shadow: 2px 2px #313131;
}

label{
    color: white;
    font-size: 25px;
}

form{
    text-align: center;
}

input{
    width: 300px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    border: #6c6159 solid 2px;
    color: #313131;
    margin-bottom: 20px;
}

button{
    background-color: #313131;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border: #6c6159 1px solid;
    border-radius: 10%;
}