*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: auto;
    width: 80%;
}

body{
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

nav{
    background-color: #333;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

.active{
    background-color: #4CAF50;
}